<!-- 提示模态框 -->
<div class="ymodal yfade" data-keyboard="true" data-backdrop="false" tabindex="-1" role="dialog" style="display: none; " #promptDiv>
  <div class="ymodal-dialog">
    <div class="ymodal-content">
      <div class="ymodal-header">
        <span class="ymodal-title">{{title}}</span>
        <button type="button" class="yclose" aria-label="Close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form class="yform-horizontal">
        <div class="ymodal-body">
          <div>{{message}}</div>
        </div>
      </form>
      <div class="ymodal-footer">
        <button class="yclose-btn" nz-button (click)="close()">取消</button>
        <button class="ysure-btn" nz-button nzType="primary" (click)="submit()">{{sureName}}</button>
      </div>
    </div>
  </div>
</div>
