/*提示模态框*/
.z-modal {
  background:rgba(55,60,64,0.77);
  z-index: 1200;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left: 0px !important;
}

.z-modal-title {
  float: left;
  margin-left: 10px;
}

.z-modal-header {
  border-radius: 0!important;
  height:40px;
  line-height: 40px;
}

.z-modal-dialog {
  width: 360px!important;
  /*height: 253px!important;*/
  border-radius: 0!important;
  animation-delay: 20ms;
  margin: 1.75rem auto;
}

.z-modal-footer {
  padding: 1rem;
  border-top:0!important;
}

.z-modal-content {
  height: 100%;
  color: #0e0e0e !important;
  background: #fff;
  box-shadow: none;
  border:none;
  border-radius: 0!important;
  align-items: center;
  margin-top: 339px;
}

.z-modal-body {
  text-align: left;
  font-weight:500;
  color:rgba(55,60,64,1);
  padding: 16px;
}

.z-modal-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.z-modal-footer button{
  font-weight:500;
}

.z-sure-btn{
  width:179px;
  height:50px;
  border:none;
  border-radius:25px;
  cursor: pointer;
  outline: 0px;
  font-size: 14px;
  padding: 15px;
}

.z-sure-btn:hover {
  background: rgba(0,193,222,0.7);
}

@-webkit-keyframes fade-in { /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  7.5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
}

.z-form-horizontal {
  width: auto;
}

.z-close , .close {
  outline: none;
  color: #fff;
  opacity: 1;
  border: 0;
  float: right;
  line-height: inherit;
  background: none;
  font-size:24px;
  font-family:PingFangSC-Medium;
  margin-right: 10px;
}

.z-close:hover {
  font-size:26px;
}

.z-modal-warning-icon{
  width: 60px;
  height: 60px;
  background: url(/assets/images/success.png);
  margin:0 auto 20px;
}

.z-warn-icon{
  width: 22px;
  height: 22px;
  margin:8px 5px;
  background: url(/assets/images/warn.png);
  display: block;
  float: left;
}

.z-msg-prompt{
  font-weight:500;
  color:rgba(55,60,64,1);
  text-align: center;
}

/*可变样式*/
.z-font {
  font-size:18px;
  font-family:PingFangSC-Medium;
}

.z-color {
  background: rgba(0, 193, 222, 1);
  color: #fff;
}

